# Visual Studio
.vs/
*.user
*.suo
*.db
*.opendb
*.VC.db

# Derleme Çıktıları (Build Files)
x64/
x86/
Debug/
Release/
*.exe
*.obj
*.pdb
*.idb
*.ilk

# Python & Sanal Ortam (Virtual Environment)
venv/
__pycache__/
*.pyc
*.pyo

# C++ - Python Köprü Derleme Çıktıları
build/
dist/
*.egg-info/
*.pyd
*.whl